<!DOCTYPE html>
<html>
    {{template "header" . }}
    <body>
        <main class="wrapper">
            {{template "navigation"}}
            <section class="container">
                <h1>{{ .title }}</h1>
                <form action="/add" method="post">
                    <fieldset>
                        <label for="quote">Quote</label>
                        <textarea name="quote" id="quote"></textarea>
                        <input class="button-primary" value="Add New Quote" type="submit">
                    </fieldset>
                </form>
                <p>
                    <a class="button button-outline" href="/">Back to Home</a>
                    <a class="button button-outline" href="/manage">Manage Quotes</a>
                </p>
            </section>
        </main>
    </body>
</html>
