{{define "header"}}
    <head>
        <meta charset="utf-8">
        <title>QuoteApp - {{ .title }}</title>
        <link rel="icon" href="favicon.png">
        <link href="css/milligram.css" rel="stylesheet">
    </head>
{{end}}
